#layoutMenu1, #layoutMenu3, #layoutMenu4, #layoutContent { margin: 20px; }

#layoutMenu2 {
	background: linear-gradient(to bottom, #FFFFFF, #EFEFEF) no-repeat;
	border: solid #999999;
	border-width: 1px 0 1px 0;
}