.menu a {
	display: block;
	text-decoration: none;
}

.menu li {
	cursor: pointer;
}

/** menu1 is a simple horizontal menu */
.menu1 { margin-top: 12px; }
.menu1 li {
	float: left;	/* inline-block is not supported in IE < 8 */
	font-size: 1.1em;
	font-weight: bold;
	padding-right: 24px;
	line-height: 1;
}
.menu1 a {
	color: #578626;
}
.menu1 a:hover {
	color: #b31e00;
}
.menu1 .menuActive a {
	color: #b31e00;
}


/** menu2 is a advanced horizontal menu with animated submenus
 * Modified from http://accu.org/index.php/journals/1399 to use css3 transitions
 */
.menu2 {
	font-size: 11px;
	margin-left: 7px;
	list-style: none;
}

.menu2 li {
	position: relative;
	display: inline-block;
}

.menu2 li li {
	list-style-type: none;
	display: block;
}

.menu2 ul {
	padding: 3px;
	position: absolute;
	border: 1px solid #ccc;
	background-color: #fafafa;
	opacity: 0;
	top: -999px;	/* move out of viewport to prevent overlapping */
   transition: opacity .5s ease-in-out;
	box-shadow: #ccc 4px 4px 4px;
}
.menu2 > li > ul {
	border-top: none;
}
.menu2 li:hover > ul {
	top: -1px;
 	opacity: 1;
}
.menu2 > li:hover > ul {
	top: 13px;
}

.menu2 a {
	padding: 0 12px 1px 12px;
	color: #555555;
	text-decoration: none;
}

.menu2 a[href] {
	background-image: none;
}

.menu2 a:hover {
	color: #ffffff;
	background-color: #578626;
}

.menu2 ul a {
	min-width: 120px;
	padding: 8px 12px 8px 12px;
	background: url(../images/arrowright.gif) right no-repeat;
	font-size: 12px;
	white-space: nowrap;
}

.menu2 li ul ul {
	left: 100%;
}

.menuActive > a {
	color: #a00a00;
}

.menu2 > li:nth-child(2) > ul > li:nth-child(1),
.menu2 > li:nth-child(3) > ul > li:nth-child(1),
.menu2 > li:nth-child(3) > ul ul > li:nth-child(2) {
	border-bottom: 1px solid #cccccc;
	box-shadow: 0 1px #ffffff;
}



/** Menu 3 is a classic vertical menu with submenus **/
.menu3 { width: 150px; }
.menu3 ul { margin-left: 12px; }
.menu3 li {  padding: 1px 0 1px 0; }
.menu3 a  {
	padding: 6px 0 6px 0;
	border-bottom: 1px solid #999999;
	color: #578626;
}
.menu3 a:hover { color: #b31e00; }
.menu3 .menuHasChild {
	background: url('../images/arrowleft.gif') right 9px no-repeat;
}
.menu3 .menuOpen {
	background: url('../images/arrowdown.gif') right 13px no-repeat;
}
.menu3 .menuActive:not(.menuHasChild) > a {
	color: #b31e00;
	background-image: linear-gradient(to bottom, #FFFFFF, #EFEFEF);
}


/** Menu 3 is a classic vertical menu with submenus **/
.menu4 { width: 150px; }
.menu4 ul { margin-left: 12px; }
.menu4 li {  padding: 1px 0 1px 0; }
.menu4 a  {
	padding: 6px 0 6px 0;
	border-bottom: 1px solid #999999;
	color: #578626;
}
.menu4 a:hover { color: #b31e00; }

.menu4 .menuActive > a {
	color: #b31e00;
}
.menu4 .menuActive:not(.menuHasChild) > a {
	color: #b31e00;
	background-image: linear-gradient(to bottom, #FFFFFF, #EFEFEF);
}

