body {
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 1.5rem;
}

h2 {
	margin-bottom: 2rem;
}

p { margin: 0.5rem 0; }
.menu { margin: 4rem; }