@import "../../../src/css/menu.css";

body {
    background-color: #ffffff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 1.5rem;
}

/* menu: specific separator lines */
.menu_horizontal {
    > .menu__item:nth-child(2) > ul > .menu__item:nth-child(1),
    > .menu__item:nth-child(3) > ul > .menu__item:nth-child(1),
    > .menu__item:nth-child(3) > ul ul > .menu__item:nth-child(2) {
        border-bottom: 1px solid var(--menu-border-light);
    }
}